
/* Supprime les marges, les paddings, les bordures et réinitialise les styles par défaut pour tous les éléments */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0; /* Supprime les marges */
    padding: 0; /* Supprime les espacements internes */
    border: 0; /* Supprime les bordures */
    font: inherit; /* Réinitialise la police */
    font-size: 100%; /* Définit la taille de police par défaut */
    vertical-align: baseline; /* Réinitialise l'alignement vertical */
}

/* Définit les nouveaux éléments HTML5 comme des blocs */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

/* Réinitialise le style du body */
body {
    line-height: 1; /* Définit une hauteur de ligne par défaut */
}

/* Supprime les styles de liste par défaut */
ol, ul {
    list-style: none;
}

/* Supprime les styles de citation par défaut */
blockquote, q {
    quotes: none;
}

/* Supprime les guillemets ajoutés automatiquement pour les citations */
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* Réinitialise les styles des tableaux */
table {
    border-collapse: collapse; /* Fusionne les bordures des cellules */
    border-spacing: 0; /* Supprime l'espacement entre les cellules */
}